[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/student/git/level-0-module-4-dice20/src/_02_boolean/_2_googly_eyes/googly_eyes/data/face.jpg
Type=Link
URL=file:///home/student/git/level-0-module-4-dice20/src/_02_boolean/_2_googly_eyes/googly_eyes/data/face.jpg
Icon=image-jpeg
